.flex-container {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  justify-content: space-around;
}
.img{
  background-image: url('../img/10.jpg');
  //background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}
.container{
  background-color: lightgray;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 150px 150px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.img2{
  height: 200px;
  width: 200px;
}